*.bak
*.err
*.log
*.png
*.pyc
.env
/_tmp_dst_probe
/code/7_regression_dataset
/data
/pipeline_100m_run
/pipeline_10m_run
/pipeline_test_20260407
/pipeline_test_labelling
/pipeline_test_labelling_100m
/results
*.out
__pycache__/
remote.log
slurm-*.out
